@if(character()){
    <article class="web-snap-card">
      <h2>
        {{character()?.name | uppercase}}
      </h2>
    
      <img [src]="character()?.image" />

      <p>{{character()?.status}}</p>

      <p>{{character()?.species}}</p>

      <p>{{character()?.type}}</p>

      <p>{{character()?.gender}}</p>
    </article>
  }
  @else{
    <article class="web-snap-card">
      <h2>
        Erreur
      </h2>
      <p>
        Le composant character a été invoqué sans données !
      </p>
    </article>
  }